/* ====================
   layout
   ==================== */

.bestseller-heading,
.features-heading {
  margin-bottom: 4rem;
}

.features,
.about,
.footer-menu {
  align-items: center;
}

.hero,
footer,
section {
  padding: 4rem 0;
}

.same-color {
  padding: 2rem 0;
} 


@media (min-width: 40em) {

  .hero,
  section {
    padding: 7rem 0;
  }

  .same-color {
  padding: 4rem 0;
} 
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split>* {
    flex-basis: 100%;
  }

  .split>*+* {
    margin-left: 2em;
  }
}

.bg-dark-gradient {
  background-image: linear-gradient(to bottom, #07223E, #144164, #07223E);
  color: #fff;
}

.bg-dark {
  background-color: var(--clr-primary);
  color: #fff;
}


/* ==============
   header / nav
   ============== */

header {
  background-color: var(--clr-primary);
}

.flex {
  display: flex;
  gap: 1.6rem;
}

.logo {
  width: 6em;
  margin: 1em 0;
}

.link-with-icon {
  display: flex;
}

.cart-icon {
  width: 1.6em;
}



.wrapper {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: var(--clr-contrast);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -8px;
  transition: 250ms;
}

nav a:hover:after {
  width: 100%;
}


.active-page {
  color: var(--clr-contrast);
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 40em) {
  .primary-navigation {
    gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    background: #031222;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background: url(images/burger-menu.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 1.3rem;
    right: 2rem;
    z-index: 9999;
    display: block;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(images/close-circle.svg);
  }
}

.sr-only {
  display: none;
}


/* ====================
   hero section
   ==================== */

.hero {
  background-image: url('images/hero-img-extended-flipped.jpg');
  color: var(--clr-primary)
}

.hero-about {
  background-image: url('images/about-hero.jpg');
  color: #fff;
}

.hero-jackets {
  background-image: url('images/jackets-banner.jpg');
  color: #fff;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero,
.hero-about, 
.hero-about2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;

}

.hero-about2 {
background-image: url('images/about2-hero.jpg');
color: #fff;

}

@media (max-width: 40em) {
  .hero {
    
    background-image: url('images/hero-mobile.jpg');
  }

  .hero-about {
    background-image: url('images/contact-bg-mobile.jpg');
  }
}


.subhead,
.subhead-about {
  font-size: var(--fs-400);
  line-height: 1.4;
  margin-top: 1em;
}

.subhead-about {
  max-width: 25em;
}



/* ====================
   bestseller section 
   ==================== */

.content img {
  margin-bottom: 1.6em;
  width: 100%;
}



@media (max-width: 40em) {
  .content {
    margin-bottom: 3em;
  }

  .desktop-only {
    display: none;
  }
  
}

.upper-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}



.view-all-mobile,
.view-all {
  display: flex;
  gap: 0.4em;
  transition: 250ms;
}

.view-all-mobile:hover ,.view-all:hover {
  color: var(--clr-contrast);
}

.view-text {
  text-decoration: underline;
}

.view-icon {
  width: 1.8em;
}

@media (max-width: 40em) {

  .view-all {
    display: none;
  }
}

@media (min-width: 40em) {

  .view-all-mobile {
    display: none;
  }
}

/* ====================
   features section
   ==================== */

.icon-item {
  align-items: center;
  text-align: center;
}

.icon-item img {
  width: 30%;
  margin-bottom: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 40em) {
  .droplets {
    display: none;
  }
}

@media (max-width: 60em) {
  .split.features {
    flex-direction: column;
  }
}

@media (min-width: 40em) {
  .icon-item {
    display: flex;
    gap: 2em;
    text-align: left;
  }

  .icon-item img {
    width: 20%;
  }

  .features-heading::after {
    content: "\A";
    white-space: pre;
  }

}

/* ==============
   cta section
   ============== */

.cta-sec {
  background-image: url('images/CTA\ section.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  color: #fff;


}

.cta-con {
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* ===============
   about section
   =============== */

@media (max-width: 40em) {
  .lake {
    margin-bottom: 3em;
  }
}

/* ===============
   contact information section
   =============== */

.contact-info-icon {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact-info-icon img {
  width: 4em;
  margin-bottom: 1.4em;
}

/* ===============
   FAQ section
   =============== */

  .faq {
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #7C8B9E;
    cursor: pointer;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question h4 {
    font-size: var(--fs-300);
    font-weight: 400;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms ease;
  }

  .answer p {
    padding-top: 1rem ;
    line-height: 1.6;
    font-size: var(--fs-300);
  }

  .faq.active .answer {
    max-height: 300px;
    animation: fade 250ms ease-in-out;
  }

  .faq.active svg {
    transform: rotate(180deg);
  }

  svg {
    transition: transform 250ms ease-in;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }


/* ===============
   send a message section
   =============== */

.message-section {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.happy-guy {
  max-width: 50%;
  height: fit-content;
}

@media (max-width: 40em) {
  .happy-guy {
    display: none;
  }
}

.message-section form {
  margin: 0 auto;
}

.message-section label {
  display: block;
  margin: .6em 0;
  font-weight: 600;
}

.message-section input[type="text"],
.message-section input[type="email"],
.message-section textarea {
  width: 100%;
  padding: .4rem;
}

/* =============
   Product grid
   ============= */

  .product-grid {
    display: grid;
    gap: .125rem;
    grid-template-columns: 
    repeat(auto-fit, minmax(20rem, 1fr)); 
  }

  .card img {
    margin-bottom: 1em;
  }

  @media (max-width: 45em) {
    .product-grid {
      grid-template-columns: 
      repeat(auto-fit, minmax(15rem, 1fr));
    }
  }

  .card {
    padding: 1em;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
  }


  /* =============
   about page
   ============= */

  .right-align {
    text-align: right;
  }

  @media (max-width: 40em) {
    .right-align {
      text-align: left;
    }

    .reverse {
      flex-direction: column-reverse;
    }

    .about-heading {
      margin-top: 1em;

    }

  }

   /* =============
   cart
   ============= */

   .payment-container {
    display: flex;
    background: url(images/cart-bg.jpg);
    background-size: cover;
    flex-direction: column;
    outline: none; border: none;
    transition: all .2s linear;
   }

   .product-info, .payment-container form {
    padding: 1.5rem;
    background: #fff;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-inline: auto;
    width: min(90%, 50.5rem);
   }

   .product-info {
    margin-bottom: 0;
   }
   
   .upperpart {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 1em;
   }

   .final-cost {
    display: flex;
    justify-content: space-between;
   }

   .payment-container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   }

   .payment-container form .row .col {
    flex: 1 1 15em;
   }

   .payment-container .title {
    font-size: var(--fs-300);
    color: var(--clr-primary);
    padding-bottom: 0.4em;
    text-transform: uppercase;
    margin: 0;
   }


   .payment-container form .row .col .inputBox {
    margin:1em 0;
   }

   .payment-container form .row .col .inputBox span {
    margin-bottom: .3em;
    display: block;
   }

   .payment-container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.6em 1em;
    font-size: var(--fs-300);
    text-transform: none;
   }

   .payment-container form .row .col .inputBox input:focus {
    border: 1px solid #000;
   }

   .payment-container form .row .col .flex-container {
    display: flex;
    gap: 1em;
   }

   .payment-container form .row .col .flex-container .inputBox {
    margin-top: 0.3em;
   }

   .payment-container form .row .col .inputBox img{
    height: 2.125em;
    margin-top: .625em;
    filter: drop-shadow(0 0 1px #000);
   }


   .button-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
   }

  .submit-btn {
    flex: 1;
    background-color: var(--clr-primary);
    font-size: var(--fs-300);
    color: #fff;
    padding: 0.8em 1em;
    text-align: center;
    border-radius: 4px;
    border: none;
    
   }

   .submit-btn:hover {
    background: var(--btn-hover);
   }

   .left-info {
    background: url(images/image-1-mini.jpg);
    background-size: cover;
    width: 7em;
    height: 7em;
   }

   .right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    
   }

   .right-info div {
    justify-content: space-between;
    display: flex;
    width: 100%;
   }

   .right-info h4 {
    margin: 0;
   }

   .jacket-size, .jacket-quantity {
    width: 35%;
    
   }

   /* =============
   checkout complete
   ============= */
  
   .complete-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 6em;
    background: #fff;
    text-transform: none;
 
    
   }

   .complete-info-wrapper{
    margin: 6em auto;
    max-width: 90%;
   }

   @media (min-width:50em) {
    .complete-info-wrapper{
      margin: 12em auto;
     }
   }
   
   .checkmark-1 {
    width: 6em;
   }

   .complete-info p, .complete-info  h2  {
    margin: 0;
    
   }

   /* =============
   Product details
   ============= */

   .product-right-col {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
   }

   .prod-img {
    margin-bottom: 2em;
   }

   .product-right-col p {
    margin: 0;
   }

   .sizes {
    display: flex;
    gap: 1em;
   }

   .size {
    display: flex;
    border: 1px solid #000;
    width: 2em;
    aspect-ratio: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }

    .size:hover {
      background-color: #bec4cd;
      }

    .jacket-colors {
      display: flex;
      gap: 1em;
    }

    .jacket-thumb {
      width: 18%;
      cursor: pointer;
    }

    .jacket-thumb:hover {
      filter: brightness(.8);
    }

    .line {
      border-top: 1px solid rgb(45, 45, 45);
    }

    .pricetag {
      font-weight: bold;
    }

    .prod-dropdown {
    margin-top: 2rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid rgb(45, 45, 45);
    cursor: pointer;
    }

    .txt-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    gap: 1em;
    }
   

/* =============
   footer
   ============= */

.footer-menu {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 45em) {
  .footer-menu {
    flex-direction: column;
  }
}

.footer-content {
  text-align: center;
}

.footer-menu form input {
  width: 25em;
  height: 2.8em;
  border-radius: 4px;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2.5em;
  border: none;
}

.footer-menu .form-button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 4px;
  font-size: var(--fs-300);
  padding: 0.5em 1em;
  transition: 250ms;
  
}

.form-button:hover {
  transform: scale(1.1);
}


.footer-logo {
  width: 10rem;
}

.col-1 {
  display: flex;
  gap: 2em;
  margin-bottom: 4em;
}

.col-1 a:hover {
  color: var(--clr-contrast);
}


@media (min-width: 45em) {
  .col-1 {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 0;
    text-align: left;


  }
}

.col-2 {
  margin-bottom: 4em;
}

@media (min-width: 45em) {
  .col-2 {
    margin-bottom: 0;


  }
}

.col-3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.col-3 p {
  color: rgb(142, 153, 165);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}


/* ====================
   Microinteractions 
   ==================== */

   .image-hover {
    transition: 250ms;
   }

   .image-hover:hover {
    filter: brightness(1.2);
   }

   