/* ====================
   global styles
   ==================== */

:root {
  --clr-primary: #07223E;
  --btn-hover: #1a3c61;
  --clr-contrast: #10B0C6;
  --btn2-hover:#58d7e7;
  --clr-neutral: #C8D1D6;

  --ff-primary: 'Open Sans', sans-serif;
  --ff-heading: 'Montserrat', sans-serif;
}

/* ====================
       components
       ==================== */

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  background-color: var(--clr-contrast);
  color: var(--clr-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: 250ms;
}

.button:hover {
  transform: scale(1.1);
  background-color: var(--btn2-hover);
}

.button-2 {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  background-color: var(--clr-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: 250ms;
}

.button-2:hover {
  transform: scale(1.1);
  background-color: var(--btn-hover);
}

.wide {
  width: 100%;
}

.wide:hover {
  transform: scale(1);
}


* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.125;
  line-height: 1.6;

  overflow-x: hidden;
}

/* ====================
     typography
     ==================== */

h1 {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 4.25rem;
  text-transform: uppercase;
  line-height: 1.2;
}


h2 {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 1.625rem;
  margin-bottom: 0.4rem;
}

p {
  margin-bottom: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.bold {
  font-weight: 700;
}